<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Decorator Home</title>
</head>
<body>
    <div class="border" th:each="skill:${skills}">
        <h2 th:text="${skill.getName()}"></h2>
        <h3 th:text="${'Power : ' + skill.getSkillPower()}"></h3>
        <h3 th:text="${'Mana cost : ' + skill.getSkillManacost()}"></h3>
        <h3 th:text="${'Description : ' + skill.getDescription()}"></h3>
    </div>
    <form th:action="@{/enhance-power}" method="post">
        <button class="btn-info">Enhance Power</button>
    </form>
    <form th:action="@{/enhance-manacost}" method="post">
        <button class="btn-info">Enhance Mana Cost</button>
    </form>
    <form th:action="@{/enhance-freeze}" method="post">
        <button class="btn-info">Enhance Freeze</button>
    </form>
    <form th:action="@{/enhance-lifesteal}" method="post">
        <button class="btn-info">Enhance Lifesteal</button>
    </form>
</body>
</html>